table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}
.color-negro {
    background-color: #000000;
    color: #FFFFFF;
}
.color-cafe {
    background-color: #8B4513;
    color: #FFFFFF;
}
.color-rojo {
    background-color: #FF0000;
    color: #FFFFFF;
}
.color-naranja {
    background-color: #FFA500;
    color: #000000;
}
.color-amarillo {
    background-color: #FFFF00;
    color: #000000;
}
.color-verde {
    background-color: #008000;
    color: #FFFFFF;
}
.color-azul {
    background-color: #0000FF;
    color: #FFFFFF;
}
.color-morado {
    background-color: #800080;
    color: #FFFFFF;
}
.color-gris {
    background-color: #808080;
    color: #FFFFFF;
}
.color-blanco {
    background-color: #FFFFFF;
    color: #000000;
}
.tolerancia-oro {
    background-color: #FFD700;
    color: #000000;
}
.tolerancia-plata {
    background-color: #C0C0C0;
    color: #000000;
}