
<div class="container">
  <div class="row">
    <!-- <h1>IEVN1003</h1>

    <hr>

    <app-product-list></app-product-list> -->

    <!-- 
    <p>Eso es un saludo...</p>

    <div>
      {{title}}
    </div>

    <div>La suma de 2 + 2 es {{2+2}} </div>

    <div>el doble de un 3 es {{duplicarNumero(3)}} </div>

    <h2>Datos de las Pelicula</h2>
    <div>El nombre de la Pelicula es: {{pelicula.nombre}} </div>

    <div>El año de la Pelicula es: {{pelicula.fechaLanzamiento | date: 'dd-MM-yy'}} </div>

    <div>El costo de la Pelicula es: {{pelicula.precio|currency}} </div>
    <app-operas-bas></app-operas-bas>
    <app-ejemplo1></app-ejemplo1>
    -->
    <app-cinepolisangular></app-cinepolisangular>  
    <app-resistenciasangular></app-resistenciasangular>
  </div>
</div>
